%html
  %head
    %title
      #{user} of Despair
    %script{:type => 'text/javascript'}
      window.despair_username = "#{user}";
      - if repo
        window.despair_repo = "#{repo}";
      - else
        window.despair_repo = null;
    %link{:media => 'screen',
          :rel => 'stylesheet',
          :href => '/css/despair.css'}
  %body
    - if Resin.development?
      %div{:style => 'float: right;'}
        %button{:onclick => 'smalltalk.Browser._open(); return false;'}
          Run Amber IDE
    %h2
      #{user} of Despair
    %center
      %div.spinner
        %img{:src => '/images/octocat-spinner-64.gif'}
    %br/
    %div.projects

    = embed_amber(:on_ready => "smalltalk.DespairApp._current()._bootstrap_('#{user}');")

